webapp/standards/*
webapp/output/*

# Distribution / packaging
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.pyc

*.class

.DS_Store
.idea
