.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.highlight {
  padding: 9px 9px;
  margin-top: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

div#result {
    font-size: 90%;
    line-height: 1.2em;
    font-family: "Courier 10 Pitch", Courier, monospace;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;

    height:1%;
    width: auto;
    display: block;
    clear: both;
    color: #000000;
    padding: 1em 1em;
}

#result h3 {
  color: darkblue;
}

#result li span {
  color: #65b139;
  font-weight: bold;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

.navbar-brand .text::before {
  content: none !important;
}

a {
  color: darkblue !important;
}

a#submit-text {
  color: #ffffff !important;
  text-decoration: underline !important;
}

a:hover#submit-text {
    color: #69b93b !important;
}

textarea {
  color: #000000 !important;
}

textarea.form-control::placeholder {
    font-weight: 300;
    color: #000000 !important;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    border: 1px solid #65b139;
    padding: 1em;
    margin: 1em 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.nav > li > a {
  color: #414141 !important;
}

.jumbotron.inverse {
  background-color: darkblue !important;
}

.jumbotron.inverse .btn {
  color: darkblue !important;
}